.toolbar{
    display:flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: darkcyan;
}

.toolbar button{
    padding: 5px 10px;
    border: 1px solid #e7dcdc;
    background-color: aqua;
    cursor: pointe;
}

.toolbar button:hover
{
    background-color: aquamarine;
}

.editor
{
    width:100%;
    min-width: 300px;
    border: 1px solid #cf5353;
    padding: 10px;
    background-color: bisque;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}